* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
input {
    width: 100%;
}

header nav {
    position: relative;
    display: flex;
    justify-content: space-between;
}

#navMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 3.5rem;
    justify-content: space-between;
    list-style-type: none;
    left: 0;
    background-color: #fff;
    width: 100%;

    transition: .6s all;
}

#user {
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 100%;
    top: 10rem;
    transition: .6s all;
    z-index: 0;
}

#navMenu li {
    padding: .5rem;
    position: relative;
}

.subMenu {
    position: absolute;
    border: .1px solid fuchsia;
    top: 0rem;
    overflow: hidden;
    transition: .4s all;
    background-color: #fff;
    z-index: 2;
}

.hideSubMenu {
    left: 5rem;
    max-height: 0px;
}

.showSubMenu {
    left: 5rem;
    max-height: 500px;
}

.slideRight {
    transform: translateX(0);
}

.slideLeft {
    transform: translateX(-100%);
}

@media screen and (min-width:576px) {
    #navMenu {
        display: flex;
        flex-direction: row;
        position: static;
        width: fit-content;
    }

    #user {
        display: block;
        position: static;
        width: fit-content;
    }

    #burger {
        display: none;
    }

    .subMenu {
        top: 3rem;
    }

    .showSubMenu {
        left: 0rem;
    }
    .hideSubMenu{
        left: 0rem;
    }

    .slideLeft {
        transform: translateX(0);
    }
}